div{
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    border: 2px solid black;
    display: inline-block;
}
#box1{
    position:static;
}
#box2{
    position: relative;
    top: 10px;
    left: 20px;
}
#box3{
    position: absolute;
    top: 20px;
    
}
#box4{
    position:fixed;
    /* top: 20px; */
    /* bottom: 0px; */
    right: 10px;
    
}