*{
    padding: 0px;
    margin: 0px;  
    background-color: white;  
}
#navbar{
    height: 60px;
    background-color: black;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}

.contentBox{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display:inline-block;
    
}
footer{
   background-color: black;
   color: white;
   text-align: center;
}
#content{
    height: 800px;
}