div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border:2px solid black;
    transition-property: all;
    transition-duration: 2s;
    /* transition-timing-function: ease; */
    /* transition-timing-function: steps(6); */
    /* transition-timing-function: ease-in; */
        /* transition-timing-function: ease-out; */
        transition-timing-function: ease-in-out;
        transition-delay: 2ms;
}
div:hover{
    background-color: blue;
    color: white;
    font-size: 20px;
 
}
div:active{
    background-color: red;
    color: white;
}